<div *ngIf='Apartment'>
  <mat-card class="example-card">
    <mat-card-header>

      <mat-card-title>IdApartment: {{Apartment.IdApartment}}</mat-card-title>

    </mat-card-header>
    <img mat-card-image src="{{Apartment.ImageSrc}}" alt="Photo of a Shiba Inu">
    <mat-card-content>

      <p> Parking:{{Apartment.Parking}}</p>
      <p>Pool:{{Apartment.Pool}}</p>
      <p> Porch:{{Apartment.Porch}}</p>
      <p> AdditionalDescription:{{Apartment.AdditionalDescription}}</p>
      <p> Crib :{{Apartment.Crib}}</p>
      <p>ApartmentDetailsID :{{Apartment.ApartmentDetailsID}}</p>
      <p>DisableAccess :{{Apartment.DisableAccess}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>