<h1>Apartments List>></h1>

<div *ngFor="let apartment of Apartments">
    <div class="apartments">
        <mat-card>
            <span>city </span> : {{apartment.City}} |
            <span>DiscountPercentages </span> : {{apartment.DiscountPercentages}} |
            <span>Elevator </span> : {{apartment.Elevator}} |
            <span>Floor </span> : {{apartment.Floor}} |
            <span>ImmediatePrice </span> : {{apartment.ImmediatePrice}} |
            <span>IsRentingImmediately </span> : {{apartment.IsRentingImmediately}} |
            <span>NumberOfAirConditioners</span> : {{apartment.NumberOfAirConditioners}} |
            <span>NumberOfBeds </span> : {{apartment.NumberOfBeds }} |
            <span>NumberOfDiscountDays </span> : {{apartment.NumberOfDiscountDays }} |
            <span>NumberOfRooms </span> : {{apartment.NumberOfRooms }} |
            <span>Price </span> : {{apartment.Price }} |
            <span>RentorId </span> : {{apartment.RentorId }} |
            <span>Street </span> : {{apartment.Street }}
            <mat-card-actions>
               
                
        <button mat-flat-button color="primary" routerLink='/apartmentDetails/{{apartment.ApartmentId}}'>for more details</button>
        </mat-card-actions>
        </mat-card>       
    </div>
