.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 51%;
  }
.main{
  width: 65%; 
  height: 100px; 
  margin: auto; 
  margin-top:3%;
//background-color: blueviolet;

}
  .search{
    float: left;
    padding: 3px;
     
  }
  img{
    
    height: 700px;
    width: 100%;
    image-resolution: 3px;
  }