
<div *ngIf='!rentorLogin'>
  <form class="example-form">
    <h1>login</h1>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com" #email>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" #password>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-flat-button color="primary" class="example-full-width"
      (click)="login(email.value,password.value)">login</button>
     

  </form>
</div>

<div *ngIf='rentorLogin' routerLink='/rentor'>please press to connect......</div>
<!-- <app-rentor [rentorData]='rentorLogin'></app-rentor> -->
<!-- <app-add-apartment [rentor]='rentorLogin'></app-add-apartment> -->

  

